* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'marcellus_scregular';
    src: url('../Fonts/marcellussc-regular-webfont.woff2') format('woff2'), url('../Fonts/marcellussc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    width: 7px;
    background: rgb(19, 19, 19);
}

body::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);
    border-radius: 5px;
}

.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.menu {
    width: 30px;
    margin-top: -38px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}


/*------------------------------------------  Form  -----------------------------------------------------------------*/

.body-form {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form h1 {
    text-align: center;
    font-size: 30px;
    padding: 15px;
    color: rgba(158, 112, 51, 0.5);
}

form {
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    opacity: 0.7;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form {
    width: 100%;
    margin: auto;
    max-width: 100%;
    float: none;
    text-align: center;
}

form .grupo {
    position: relative;
    margin: 45px;
}

input {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #49454567;
}

textarea {
    min-height: 200PX;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
    font-size: 18px;
}

input:focus {
    outline: none;
    color: rgb(94, 93, 93);
}

label {
    color: #49454567;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label {
    top: -14px;
    font-size: 13px;
    color: rgba(158, 112, 51, 0.5);
}

.desc {
    color: #49454567;
    font-size: 16px;
    font-family: monospace;
    font-weight: normal;
    text-align: left;
    margin-bottom: 10px;
}

.barra {
    position: absolute;
    display: block;
    right: 50%;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #ffd6d1, rgba(158, 112, 51, 0.5));
    transition: 0.3s ease width;
}

input:focus~.barra::before {
    width: 100%;
}

.btn {
    display: inline-block;
    background: rgb(158, 112, 51);
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff523b;
}


/*------------------------------------------  @media  -----------------------------------------------------------------*/

@media only screen and (min-width:400px) {
    .banner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9)), url(../Pictures/Backgrounds/Login.jpg);
    }
}

@media only screen and (max-width:400px) {
    .banner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9)), url(../Pictures/Backgrounds/Login2.jpg);
    }
}

@media only screen and (min-width:700px) {
    .navbar ul li::after {
        content: '';
        height: 3px;
        width: 0;
        background: #ffffff;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    .navbar ul li:hover:after {
        width: 100%;
    }
}

@media only screen and (max-width:854px) {
    .navbar ul {
        width: 50%;
        position: absolute;
        top: 120px;
        text-align: right;
        right: 0;
        z-index: 2;
        background: linear-gradient(rgba(19, 19, 19, 0.9), rgba(0, 0, 0, 0.55));
    }
    .navbar ul li {
        display: block;
        margin-top: 7.4px;
    }
    .navbar ul li a {
        color: #fff;
    }
    .menu {
        display: block;
    }
    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
}

@media only screen and (min-width:1000px) {
    form {
        width: 40%;
    }
}