* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'marcellus_scregular';
    src: url('../Fonts/marcellussc-regular-webfont.woff2') format('woff2'), url('../Fonts/marcellussc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 10px;
    background: rgb(19, 19, 19);
}

body::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);
    border-radius: 5px;
}

.wrapper {
    width: auto;
}

.headd {
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 40px;
}

header {
    background-color: rgb(19, 19, 19);
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

select {
    background-color: rgb(19, 19, 19);
    color: #fff;
    border: 1px solid rgb(19, 19, 19);
    cursor: pointer;
    padding-right: 10px;
}

.info {
    width: 100%;
    font-size: 13px;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav1 {
    flex: 1;
    text-align: left;
}

#nav2 {
    flex: 1;
    text-align: right;
}

.info ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    position: relative;
}

.info ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.banner {
    box-sizing: border-box;
}

.logo1 {
    width: 160px;
    cursor: pointer;
    justify-content: space-between;
}

.menu {
    width: 30px;
    cursor: pointer;
    display: none;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    background-color: rgb(19, 19, 19);
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}


/*------------------------------------------  Imagen  -----------------------------------------------------------------*/

.logo2 {
    width: 80px;
    cursor: pointer;
}

#img {
    width: 100%;
}

.cont {
    bottom: 100px;
}

.cont h2 {
    font-family: "marcellus_scregular", smarcellus_scregular;
    font-size: 45px;
    margin-top: 10px;
}


/*------------------------------------------  contenido  --------------------------------------------------------------*/

.c {
    width: 97%;
    margin: 10px auto;
    background-color: rgb(230, 230, 230);
}

.content {
    width: 100%;
    text-align: center;
}

.box {
    width: 97%;
    margin: 10px auto;
    background-color: rgb(230, 230, 230);
}

.box hr {
    width: 92%;
    height: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    background-color: rgb(170, 170, 170);
}

.cont {
    display: flex;
    align-items: center;
    width: 92%;
}

.desc {
    display: flex;
    padding-left: 5.5%;
    text-align: left;
}

.desc2 .cant {
    font-size: 15px;
    width: 35px;
}

.desc2 {
    padding-left: 2%;
    font-size: 25px;
}

.items .title {
    text-align: left;
    margin-top: 3%;
    margin-left: 6%;
    font-family: "marcellus_scregular", smarcellus_scregular;
    font-size: 30px;
    color: rgb(105, 105, 105);
}

.items hr {
    width: 89%;
}

.items img {
    width: 20%;
    height: 20%;
}

.summary {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    background: #fff;
    text-align: left;
    padding: 10px 15px;
}

.summary hr {
    height: 3.8px;
    display: inline-block;
    background-color: #ff523b;
    width: 92%;
    align-items: center;
}

.summary h1 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: -6px;
}

.btn {
    font-size: 18px;
    display: inline-block;
    background: #ff523b;
    text-decoration: none;
    color: #fff;
    padding: 10px 70px;
    margin: 25px 0;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    transition: background 0.5s;
}

.btn:hover {
    background: #774242;
}

div.center {
    text-align: center;
}

.btn2 {
    font-size: 18px;
    display: inline-block;
    background: #ff523b;
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    margin: 20px 0;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    transition: background 0.5s;
}

.btn2:hover {
    background: #774242;
}


/*------------------------------------------  Footed  -----------------------------------------------------------------*/

h3 {
    margin-bottom: 20px;
    color: rgb(80, 80, 80);
}

.s-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.social-networks {
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    text-align: center;
    background-color: #fff;
}

.col-4 {
    display: flex;
    width: 50px;
}

.col-4 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.brands {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
}

.col-5 {
    display: inline-block;
    width: 400px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
}


/*------------------------------------------  @media  -----------------------------------------------------------------*/

@media only screen and (min-width:700px) {}

@media only screen and (max-width:390px) {
    .form h1 {
        font-size: 15px;
    }
}

@media only screen and (max-width:390px) {
    .info {
        font-size: 10px;
    }
}

@media only screen and (max-width:318px) {
    .info {
        font-size: 8px;
    }
}

@media only screen and (max-width:270px) {
    .info {
        font-size: 7px;
    }
}

@media only screen and (max-width:250px) {
    .info {
        font-size: 6px;
    }
}

@media only screen and (min-width:700px) {
    header {
        z-index: 12;
        height: 140px;
    }
    .wrapper {
        margin: 0 auto;
    }
    nav {
        flex: 1;
    }
    .navbar ul li {
        margin: 15px 15px;
    }
    .navbar ul li::after {
        content: '';
        height: 3px;
        width: 0;
        background: #ffffff;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    .navbar ul li:hover:after {
        width: 100%;
    }
    .prod:hover {
        transform: translateY(-5px);
    }
    .col-4 img:hover {
        transition: 0, 5s;
        filter: grayscale(0);
    }
    .cont {
        display: flex;
    }
    .t {
        width: 45%;
        height: 50%;
    }
}

@media only screen and (max-width:700px) {
    .logo1 {
        margin-top: 0;
    }
    nav {
        text-align: left;
    }
    .navbar {
        width: 85%;
        margin: auto;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar ul {
        width: 50%;
        position: absolute;
        top: 93px;
        text-align: right;
        right: 0;
        z-index: 2;
        background: linear-gradient(rgba(19, 19, 19, 0.9), rgba(0, 0, 0, 0.55));
    }
    .navbar ul li {
        display: block;
        margin-top: 7.4px;
        margin: 0 15px;
    }
    .navbar ul li a {
        color: #fff;
    }
    .menu {
        display: block;
    }
    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
    #menuList2 {
        overflow: hidden;
        transition: 0.5s;
    }
    .row-2 h2 {
        font-size: 20px;
    }
    .col-4 {
        width: 35px;
    }
    .col-5 {
        width: auto;
    }
    form {
        width: 80%;
    }
    .cart-info {
        font-size: 15px;
    }
    .cart-info p {
        display: none;
    }
    td img {
        width: 100px;
        height: 100px;
    }
    .cont {
        display: inline-block;
        align-items: center;
    }
    .t {
        width: 100%;
        align-items: center;
        height: 50%;
    }
}

@media only screen and (max-width:950px) {
    .related {
        font-size: calc(1em + 1vw);
    }
    .related2 {
        font-size: calc(0.8em + 0.8vw);
    }
}